<table>
  <thead>
    <th>Name</th>
    <th>E-mail</th>
  </thead>
  <% @candidates.each do |candidate| %>
    <tr>
      <td><%= link_to candidate.name, admin_candidate_path(candidate.id) %></td>
      <td><%= candidate.email %></td>
    </tr>
  <% end %>
</table>