<h1>Review: <%= @candidate.name %></h1>

<ul class="review-summary">
  <li>
    <h2>Hire?</h2>
    <%= @review.recommendation %>
  </li>
  <li>
    <h2>Why does this candidate want to work at LivingSocial?</h2>
    <p><%= @review.why_livingsocial %></p>
  </li>
  <li>
    <h2>Why does this candidate want to be in Hungry Academy?</h2>
    <p><%= @review.why_hungry %></p>  
  </li>  
</ul>
