Review
<br />
<ul>
  <li><%= @candidate.name %></li>
</ul>

Ratings
<br />
Reasoning Score: <%= @review.reasoning %>
Communicaition Score: <%= @review.communication %>
<br />

General Comments
<br />
<%= @review.body %>
