<div class="container ten">
  <div class="login rounded-box">
    <p class="welcome">Welcome! Please sign in to begin the Hungry Academy application process.</p>

    <div class="login-actions">
      <%= link_to 'Sign In With GitHub', user_omniauth_authorize_path(:github), :class => "login-github" %>

      <%= link_to 'Sign In With Google', user_omniauth_authorize_path(:google), :class => "login-google" %>
    </div>
  </div>
</div>