<div class="container ten">
  <section class="user-box">
    <header class="box-header">
      <h2>Instructions</h2>
    </header>
    <div class="content">
      Bicycle rights DIY scenester odio assumenda, before they sold out qui ullamco. Pork belly four loko culpa aute, retro etsy cardigan. Sapiente high life fap, PBR swag dolor stumptown. In labore photo booth next level, reprehenderit VHS proident cardigan carles veniam laboris nihil sartorial consectetur kogi. Sed PBR salvia, synth gluten-free blog typewriter voluptate laboris. Thundercats ea placeat, sartorial PBR small batch pariatur ullamco before they sold out. Mollit enim kale chips, exercitation 3 wolf moon elit craft beer 8-bit.
    </div>
    <div class='flash-save'></div>
  </section>

  <%= render "form" %>
</div>