<h3>Candidate Dashboard</h3>
<br />
<br />
<table>
  <tr>
    <td>Name</td>
    <td><%= @candidate.name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @candidate.email %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= @candidate.status %></td>
  </tr>
</table>