body {
  background: $gray_1;
}

h1 {
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
}

.page-wrap.page-admin {
  padding-top: 30px;
  position: relative;
}

.nav-wrap {
  background: $gray_3;
  padding: 10px 0;
}

.admin-nav {
  text-align: right;
}

.admin-nav li {
  display: inline-block;
  margin-left: 15px;
}

.admin-nav li:first-child {
  margin-left: 0;
}

.page-content {
  margin-top: 30px;
}

// Candidates Index

.user-snapshot {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.user-snapshot img {
  border: 10px solid #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  display: block;
  margin-bottom: 8px;
  width: 200px;
  height: 150px;
}

.user-snapshot .user-details {
  font-weight: bold;
  padding-left: 10px;
}

// Reviewing candidates

form li.inline {
  display: inline-block;
  margin-left: 10px;
}

form li.inline:first-child {
  margin-left: 0;
}

.new_review fieldset,
section.reviewer {
  margin-bottom: 30px;
}

.new_review textarea {
  width: 100%;
}

.new_review h3 {
  margin-bottom: 8px;
}

.review-summary {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.review-summary li {
  margin-bottom: 10px;
}