* {
  @include box-sizing(border-box);
}

html {
  font-size: 62.5%;
}

body {
  font-family: $base_font;
  font-size: 1.4rem;
}

header,
nav,
section,
article,
aside {
  display: block;
}

h1, h2, h3, h4 {
  font-family: $rounded_font;
}

h1 {
  color: $gray_3;
  font-size: 2.8rem;
}

h2 {
  color: $gray_3;
  font-size: 2.0rem;
}

h3 {
  font-size: 1.8rem;
}

a {
  color: $slushie;
  text-decoration: none;
}

.page-content {
  padding-bottom: 40px;
}

b {font-weight: bold;}

// Header
// ==========================
.logo {
  display: inline-block;
  text-indent: -9999px;
}

.header-inner {
  position: relative;
}

.global-header {
  background: $black url("/assets/header.png") left bottom repeat-x;
  min-height: 75px;
  padding-top: 10px;

  .logo         {background: url("/assets/logo.png") 0 0 no-repeat; display: block; position: absolute; left: 0; text-indent: -999px; width: 380px; height: 131px;}
  .logo a       { display: block; height: 131px; }

  .account      { color: $gray_3; font-family: $rounded_font; float: right; padding-bottom: 10px; text-align: right; position: relative;}
  .user,
  .user-actions,
  .last-saved   { display: block; }

  .user         { color: $clementine; margin-bottom: 5px;}

  .user-actions,
  .last-saved   { font-size: 1.2rem; }

  .last-saved   { margin-bottom: 5px; }
}

.rounded-box {
  @include border-radius(4px);
  background: $gray_1;
  min-height: 200px;
  padding: 20px;
}

// Login
// ==========================

.login .welcome {
  font-size: 2.0rem;
  margin-bottom: 20px;
  text-align: center;
}

.login-actions {
  text-align: center;
}

.login-actions a {
  color: $rust;
  display: inline-block;
  margin-left: 20px;
}

// Nav bits
// ==========================

.filter-nav {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.filter-nav li {
  display: inline-block;
  margin-left: 10px;
}

.filter-nav li:first-child {
  margin-left: 0;
}

// Badges and Status
// ==========================

.flag {@include border-radius(4px); font-size: 1.1rem; font-weight: bold; padding: 6px; text-transform: uppercase; }
.flag.notice {background: $notice-background; border: 1px solid $notice-border; color: $gray_3; }






// FUCK IT!!!!
// ==========================

.filter-nav {
  font-family: $rounded_font; font-size: 1em;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: $standard_radius;
  display: inline-block;
  @include box-shadow(0 1px 0 #fff inset);
  @include background-image(linear-gradient(white,#f0f0f0));
  li {
    margin: 0;
    border-right: 1px solid #eaeaea;
    &:last-child {border-right: none;}
    &.current a {color: $gray_4;}
  }
  a {
    padding: 15px;
    display: block;
    color: $gray_2; text-align: center;
  }
}


.admin-candidates {
  header {
    margin-bottom: 1em;
    @include clearfix;
    h1, h2 {color: #333;}
    ul {
      width: 50%; float: left;
      li {padding-right: 20px; margin-bottom: .5em;}
    }
  }
  .material {
    padding: 15px;
    width: 100%;
    position: relative;
  }
  .materials {
    position: relative;
    -webkit-perspective: 400px; margin-bottom: 2em;
    h2 {
      padding: 15px 15px 10px 15px;
      background: url(/assets/disclosure.png) no-repeat 98% 10px;
    }
    > div {position: relative; background: #dadada; border-top: 1px solid #ccc;}
  }
}

.reviewer {
  h2 {margin-bottom: 1em;}
}

.admin-candidates {
  .user-snapshot {float: left; @include clearfix;}
}

.flash {
  color: #fff;
  position: fixed;
  display: inline-block;
  z-index: 10; top: 20px; right: 40px;
  padding: 15px;
  background: #9eae3d;
  @include border-radius(4px);
  @include transition(.2s all ease-in-out);
}


