.button {
  @include border-radius(4px);
  display: inline-block;
  padding: 8px 10px;
}

.button.primary {
  background: $slushie;
  border: 1px solid $blue;
  color: #fff;
  font-weight: bold;
}

.button.secondary {
  @include gradient(#fff, #e6e7e8);
  border: 1px solid $gray_2;
  color: $gray_3;
  font-weight: bold;
}

.button.small {
  font-size: 1.2rem;
}